.carousel-3d {
    perspective: 1000px;
    max-width: 100px;
    /* Sesuaikan ukuran yang diinginkan */
    margin: auto;
    /* Agar carousel tetap di tengah */
}

.carousel-3d .carousel-inner {
    transform-style: preserve-3d;

}

.carousel-3d .carousel-item {
    backface-visibility: hidden;
    transition: transform 0.8s ease-in-out;
}

/* Efek rotasi saat item aktif */
.carousel-3d .carousel-item-next,
.carousel-3d .carousel-item-prev,
.carousel-3d .carousel-item.active {
    transform: rotateY(0deg) scale(1);
}

.carousel-3d .carousel-item-next {
    transform: rotateY(30deg) scale(0.9);
}

.carousel-3d .carousel-item-prev {
    transform: rotateY(-30deg) scale(0.9);
}

.carousel-3d img {
    width: 100%;
    /* Pastikan gambar menyesuaikan dengan carousel */
    height: auto;
    /* Agar proporsi tetap terjaga */
    border-radius: 10px;
    /* Opsional: Membuat sudut lebih halus */
}