.image {
    height: 400px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease;
}

.card-event {
    cursor: pointer;
    transition: transform 0.3s ease-out;
}

.card-event:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.card-event:hover .image {
    transform: scale(1.05);
}