.pilihan-costum {
    background-color: orange;
    /* Warna default */
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.pilihan-costum:hover {
    background-color: rgba(0, 63, 114, 1);
    transform: scale(1.05);
    color: gold;
}

@media (max-width: 480px) {

    .layout-data-costum {
        display: flex;
        flex-direction: row;
    }

    .pilihan-costum {
        width: 300px;
        height: 100px;
        justify-content: center;
        align-items: center;
        display: flex;

    }
}