.visi {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: rgb(244, 244, 244);
}

.misi {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: rgb(227, 227, 227);
}

.tujuan {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: rgb(244, 244, 244);
}

/* .input{
    width: 400px;
    height: 100px;
} */

.card {
    width: 350px;
}

.costum-form {
    width: 500px;

}

.btn-update {
    background-color: rgb(4, 218, 4);
    color: white;
}

.btn-update:hover {
    background-color: gold;
    color: white;
}

ul {
    list-style-type: decimal;
    /* Menampilkan angka dengan format 1, 2, 3... */
    padding-left: 20px;
    /* Memberikan jarak pada sisi kiri list */
}


.input {
    width: 50px;

}

.custom-quill .ql-editor {
    min-height: 200px;
    max-width: 500px;
    /* Tinggi minimum */
    max-height: 300px;
    /* Tinggi maksimum */
    overflow-y: auto;
    /* Scroll jika konten terlalu tinggi */
}

/* Opsional: pastikan container editor tidak resize */
.custom-quill {
    resize: none;
}

.custom-quill .ql-container:focus-within {
  border-color: #218838; /* hijau lebih gelap saat fokus */
}